header, section {
  margin: 0 20%;
  border-bottom: 1px solid var(--border-color);
}

header h1 {
  font-size: clamp(40px, 5vw, 70px);
  text-align: center;
}

header h2 {
  font-size: clamp(20px, 2.5vw, 50px);
  text-align: center;
}

header h3 {
  font-size: clamp(15px, 2vw, 30px);
  text-align: center;
  margin: 0;
}

blockquote {
  position: relative;
  padding: 1em;
  box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
  border-radius: 10px;
  background: var(--secondary-bg-color) no-repeat left / 140px;
}
blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  box-shadow: inset -2px -2px 1px hsl(0 0% 100%), inset 2px 2px 4px hsl(0 0% 0% / 20%);
  pointer-events: none;
  z-index: 1;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

table {
  width: 100%;
  margin: 1em;
  border-collapse: collapse;
}
tr a {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
tr:hover {
  background-color: var(--accent-color);
  color: white;
}
  tr:hover a {
    color: white;
    background-color: black;
    padding: 3px;
  }
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}
tr.section-divide td, tr.section-divide th{
  border-bottom: 1px solid black;
}
th.row-comment {
  border-bottom: none;
}

@media (max-width: 800px) {
  header, section {
    margin: 0 1.5em;
  }

  blockquote {
    margin: 16px;
  }
}