header, section {
  margin: 0 20%;
  border-bottom: 1px solid var(--border-color);
}

header h1 {
  font-size: clamp(40px, 5vw, 70px);
  text-align: center;
}

header h2 {
  font-size: clamp(20px, 2.5vw, 50px);
  text-align: center;
}

header h3 {
  font-size: clamp(15px, 2vw, 30px);
  text-align: center;
  margin: 0;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

table {
  width: 100%;
  margin: 1em;
  border-collapse: collapse;
}
tr:hover {
  background-color: var(--accent-color);
  color: white;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}
tr.section-divide td, tr.section-divide th{
  border-bottom: 1px solid black;
}
th.row-comment {
  border-bottom: none;
}

@media (max-width: 800px) {
  header, section {
    margin: 0 1.5em;
  }
}