:root {
  --main-bg-color: white;
  --text-color: #1C1D21;
  --secondary-bg-color: rgb(2,0,36);
  --secondary-text-color: white;
  --accent-color: #3161CE;
  --accent-secondary: #3161CE;
  --border-color: lightgrey;
  
  --body-font-size: 20px;
  --small-font-size: 15px;
  --body-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

h1 {
  font-size: clamp(40px, 15vw, 200px);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p, ul, ol, table, button {
  font-size: var(--body-font-size);
}

button {
  font-family: var(--body-font);
}

li {
  margin: 0.5em;
}

small {
  font-size: var(--small-font-size);
}