:root {
  --main-bg-color: white;
  --text-color: black;
  --secondary-bg-color: rgb(2,0,36);
  --secondary-text-color: white;
  --accent-color: darkblue;
  --border-color: lightgrey;
  --body-font-size: 20px;
  --small-font-size: 15px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 15vw;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p, ul, ol, table {
  font-size: var(--body-font-size);
}

li {
  margin: 0.5em;
}

small {
  font-size: var(--small-font-size);
}