@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&display=swap');

:root {
  --main-bg-color: white;
  --text-color: #1C1D21;
  --text-color-on-dark: white;
  --secondary-bg-color: #f9f7f3;
  --secondary-bg-color-rgb: 249, 247, 243;
  --accent-color: #3161CE;
  --accent-secondary: #CF30B2;
  --border-color: lightgrey;
  
  --body-font-size: 20px;
  --small-font-size: 15px;
  --bevel-radius: 10px;
  --pill-radius: 25px;
  --header-font: 'Playfair Display', Cambria, Georgia, serif;
  --body-font: Georgia, Cambria, serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

noscript {
  width: 100%;
  padding: 10px;
  display: block;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--secondary-bg-color);
}

body {
  min-height: 100%;
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

p, i, b, a, ul, ol, table, button, dd, dt {
  font-size: var(--body-font-size);
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: var(--header-font);
}

  .heading > * {
    font-size: unset;
  }

h1 {
  font-size: clamp(40px, 15vw, 200px);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  font-family: var(--body-font);
}

li {
  margin: 0.5em;
}

small {
  font-size: var(--small-font-size);
}

  small > * {
    font-size: unset;
  }

.action-button {
  position: relative;
  background-color: transparent;
  border: 3px var(--text-color) solid;
  padding: 1em;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.action-button:hover {
  background-color: var(--accent-color);
  color: var(--text-color-on-dark);
}
.action-button:focus {
  filter: brightness(1.5);
}

  .action-button::before, .action-button::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 15px;
    background-color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
  }

  .action-button::before {
    top: 100%;
    left: 15%;
  }
  .action-button:hover::before {
    left: 75%;
  }

  .action-button::after {
    bottom: 100%;
    right: 15%;
  }
  .action-button:hover::after {
    right: 75%;
  }

.simple-button {
  min-width: 120px;
  padding: 10px;
  display: inline-block;
  box-shadow: 4px 4px 0 0 var(--text-color);
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--text-color);
  border-radius: var(--pill-radius);
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.simple-button:hover {
  background-color: var(--accent-color);
  color: var(--text-color-on-dark);
}

.simple-button:active, .simple-button[disabled] {
  box-shadow: 0 2px 2px 0 0 var(--text-color);
  transform: translate(2px, 2px);
}

.simple-button[disabled] {
  background-color: var(--border-color);
  pointer-events: none;
  cursor: not-allowed;
}

.tall-line {
  line-height: 50px;
}