/* 
 * ============
 * GRIDS / FLEX
 * ============
 */

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.flex-display, .flex-always, .flex-reversed {
  display: flex;
  align-items: center;
  gap: 1em;
}

.flex-display.wrap, .flex-always.wrap {
  flex-wrap: wrap;
}

.flex-reversed {
  flex-direction: row-reverse;
}
.flex-reversed.wrap {
  flex-wrap: wrap-reverse;
}

  .flex-display > *, .flex-always > *, .flex-reversed > * {
    flex: 1;
  }

/* 
 * ============
 * TABLE STYLES
 * ============
 */

.table-container {
  margin: 1rem auto;
}
  
  .table-container.overflow {
    height: 500px; 
    overflow: auto;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10px, black calc(100% - 20px), transparent 100%);
    padding-bottom: 20px;
  }
  
    .table-container.overflow > table > thead.sticky {
      top: 0;
    }
  
table {
  margin: auto;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
table.fit-content {
  width: fit-content;
}
table.column-row-hover {
  overflow: hidden;
}

  table thead.sticky {
    position: sticky;
    top: var(--nav-bar-height);
    z-index: 999;
  }

    table thead.sticky tr {
      border-radius: var(--bevel-radius) var(--bevel-radius) 0 0;
    }

    table thead tr:hover, 
    table.column-row-hover thead tr:hover {
      background-color: transparent;
      color: var(--text-color);
    }

    table thead.sticky th {
      padding: 1rem;
      background-color: var(--secondary-bg-color);
      border-bottom: 3px solid var(--border-color);
      background-clip: padding-box;
    }

      table thead.sticky th:first-child {
        border-radius: var(--bevel-radius) 0 0 0;
      }

      table thead.sticky th:last-child {
        border-radius: 0 var(--bevel-radius) 0 0;
      }
  
  table tr {
    white-space: nowrap;
  }

    table tr:hover {
      background-color: var(--accent-color);
      color: var(--text-color-inverse);
    }
  
    table.column-row-hover tr:hover {
      background-color: rgba(var(--accent-color-rgb), 25%);
      color: var(--text-color);
    }
  
      table tr a {
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
      }

        table tr:hover a {
          padding: 3px;
          color: var(--text-color-inverse);
          background-color: var(--text-color);
        }
  
  table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
  }

    table tr.section-divide td, 
    table tr.section-divide th {
      border-bottom: 1px solid var(--text-color);
    }
  
    table.column-row-hover th, 
    table.column-row-hover td {
      position: relative;
    }
  
      table.column-row-hover td:hover::after,
      table.column-row-hover th:hover::after {
        content: "";
        position: absolute;
        top: -5000px;
        left: 0;
        height: 10000px;
        width: 100%;
        background-color: rgba(var(--accent-color-rgb), 25%);
        z-index: -1;
      }
  
    table th.row-comment {
      border-bottom: none;
    }

@media (max-width: 800px) {
/* 
 * ============
 * GRIDS / FLEX
 * ============
 */

  .grid-2-cols, .flex-display, .flex-reversed {
    display: block;
  }

  .flex-display:not(:last-child), .flex-reversed:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

/* 
 * ============
 * TABLE STYLES
 * ============
 */

  .table-container.overflow:has(table.responsive) {
    height: unset;
    mask-image: unset;
  }

  table.responsive {
    margin: auto;
    border: 0;
  }

    table.responsive thead {
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      border: none;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
    }

    table.responsive tr {
      min-width: 250px;
      margin-bottom: 1rem;
      display: block;
      border: 1px solid var(--border-color);
      border-radius: var(--bevel-radius);
    }

    table.responsive td, 
    table.responsive th,
    table.responsive .section-divide td, 
    table.responsive .section-divide th {
      border-bottom: 1px solid var(--border-color);
    }

      table.responsive td:last-child, 
      table.responsive th:last-child {
        border-bottom: unset;
      }
    
    table.responsive td {
      display: block;
      font-size: 1rem;
      text-align: right;
    }

      table.responsive td:empty {
        display: none;
      }
    
      table.responsive td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }

    table.responsive th {
      display: block;
      border-radius: var(--bevel-radius) var(--bevel-radius) 0 0;
      background-color: var(--secondary-bg-color);
    }

      table.responsive th:empty {
        display: none;
      }
  
      table.responsive tr:hover th {
        color: var(--text-color);
      }

      table.responsive th:last-child {
        border-radius: var(--bevel-radius);
      }

    table.responsive.column-row-hover tr:hover {
      background-color: var(--accent-color);
      color: var(--text-color-inverse);
    }

    table.responsive.column-row-hover td:hover::after,
    table.responsive.column-row-hover th:hover::after {
      display: none;
    }
}