.home-page header {
  position: relative;
  min-height: 50vh;
  margin: 0 5rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  overflow: hidden;
}

  .home-page header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url(/images/marquetteUniversityCarillon_bayleeBell.png);
    background-attachment: fixed;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 25% top;
    opacity: 60%;
    z-index: -1;
  }

    body.dark-theme .home-page header::before {
      filter: invert(100%);
    }

    .home-page header section > * {
      margin: 0;
      padding: 5px;
      text-shadow: 1px 1px 2px var(--text-color-inverse), 
                  -1px -1px 2px var(--text-color-inverse),
                   1px -1px 2px var(--text-color-inverse),
                  -1px 1px 2px var(--text-color-inverse);
    }

    .home-page header section p {
      max-width: 50ch;
      font-size: 25px;
      color: black;
    }

    body.dark-theme .home-page header section p {
      color: inherit;
    }

      .home-page header section p > * {
        font-size: inherit;
      }

.home-page h2 {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
}

.home-page a {
  color: var(--accent-color);
}

.home-content .home-main-links {
  margin: 1rem;
  display: flex;
  gap: 10px;
}

  .home-content .home-main-links .main-links-item {
    flex: 1;
    padding: 0 2rem;
  }

    .home-content .home-main-links .main-links-item h3 {
      font-size: 2rem;
      margin-bottom: 0;
    }

    .home-content .home-main-links .main-links-item p {
      font-size: 1.5rem;
    }

  .home-content .home-explore .explore-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
    .home-content .home-explore .explore-item {
      margin: 0 1rem;
    }

    .home-content .home-explore .explore-item:not(:nth-last-child(-n + 2)) {
      border-bottom: 1px solid var(--border-color);
    }

      .home-content .home-explore .explore-item a {
        text-decoration: none;
      }
      .home-content .home-explore .explore-item a:hover {
        text-decoration: underline;
      }

      .home-content .home-explore .explore-item h3 {
        font-size: 2rem;
      }

      .home-content .home-explore .explore-item p {
        font-size: 1.5rem;
      }

  .home-content .home-news {
    margin: 1rem;
  }

    .home-content .home-news .news-group {
      display: flex;
      flex-wrap: wrap;
    }

    .home-content .home-news .news-card {
      width: min(90%, 350px);
      margin: 1rem;
      box-shadow: 0 4px 8px 0 rgba(var(--text-color-rgb), 0.2);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
    }
    .home-content .home-news .news-card:hover {
      box-shadow: 0 8px 16px 0 rgba(var(--text-color-rgb), 0.2);
    }

      .home-content .home-news .news-card a {
        text-decoration: none;
        color: var(--text-color);
      }

      .home-content .home-news .news-no-image {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        color: var(--text-color-inverse);
        font-size: 3rem;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
      }

        .home-content .home-news .news-no-image svg {
          height: 3rem;
          width: 3rem;
        }

      .home-content .home-news .news-card img {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }

      .home-content .home-news .news-card .news-card-info {
        padding: 2px 16px;
      }

        .home-content .home-news .news-card .news-card-info h3 {
          color: var(--accent-color);
        }

@media (max-width: 800px) {
  .home-page header {
    display: none;
  }

  .home-content .home-main-links {
    display: block;
  }

    .home-content .home-main-links .main-links-item {
      padding: 0;
    }

  .home-content .home-news .news-card {
    margin: 15px auto;
  }

  .home-content .home-explore .explore-group {
    display: block;
  }

  .home-content .home-explore .explore-item {
    margin: 1rem;
    display: inline-block;
  }
  .home-content .home-explore .explore-item h3 {
    text-align: left;
    margin: 0;
  }
}