.home-page header {
  margin: 0 5em;
  padding: 1em;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  text-align: center;
}

  .home-page header h1 {
    margin: 0;
  }

  .home-page header section {
    font-size: clamp(18px, 2vw, 50px);
  }

.home-page h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}

.home-page a {
  color: var(--accent-color);
}

.home-content .home-main-links {
  margin: 1em;
  display: flex;
  gap: 10px;
}

  .home-content .home-main-links .main-links-item {
    flex: 1;
    padding: 0 2em;
  }

    .home-content .home-main-links .main-links-item h3 {
      font-size: 2em;
      margin-bottom: 0;
    }

    .home-content .home-main-links .main-links-item p {
      font-size: 1.5em;
    }

  .home-content .home-explore .explore-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

    .home-content .home-explore .explore-item {
      margin: 0 1em;
      border-bottom: 1px solid var(--border-color);
    }

      .home-content .home-explore .explore-item a {
        text-decoration: none;
      }
      .home-content .home-explore .explore-item a:hover {
        text-decoration: underline;
      }

      .home-content .home-explore .explore-item h3 {
        font-size: 2em;
      }

      .home-content .home-explore .explore-item p {
        font-size: 1.5em;
      }

  .home-content .home-news {
    margin: 1em;
  }

    .home-content .home-news .news-group {
      display: flex;
      flex-wrap: wrap;
    }

    .home-content .home-news .news-card {
      width: min(90%, 350px);
      margin: 1em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
    }
    .home-content .home-news .news-card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

      .home-content .home-news .news-card a {
        text-decoration: none;
        color: var(--text-color);
      }

      .home-content .home-news .news-card img {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }

      .home-content .home-news .news-card .news-card-info {
        padding: 2px 16px;
      }

        .home-content .home-news .news-card .news-card-info h3 {
          color: var(--accent-color);
        }

@media (max-width: 800px) {
  .home-page header {
    display: none;
  }

  .home-content .home-main-links {
    display: block;
  }

    .home-content .home-main-links .main-links-item {
      padding: 0;
    }

  .home-content .home-news .news-card {
    margin: 15px auto;
  }

  .home-content .home-explore .explore-group {
    display: block;
  }

  .home-content .home-explore .explore-item {
    margin: 1em;
    display: inline-block;
  }
  .home-content .home-explore .explore-item h3 {
    text-align: left;
    margin: 0;
  }
}