.home-page header {
  margin: 0 5em;
  padding: 1em;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  text-align: center;
}

  .home-page header h1 {
    margin: 0;
  }

  .home-page header section {
    font-size: clamp(18px, 2vw, 50px);
  }

.home-page h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}

.home-page a {
  color: var(--accent-color);
}

.home-content {
  display: flex;
  flex-wrap: wrap;
}

  .home-content .home-explore {
    flex: 1 1 70%;
  }

    .home-content .home-explore .explore-item {
      margin: 1em;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
    }

      .home-content .home-explore .explore-item a {
        margin-right: 1em;
        text-decoration: none;
      }
      .home-content .home-explore .explore-item a:hover {
        text-decoration: underline;
      }

      .home-content .home-explore .explore-item h3 {
        text-align: right;
        font-size: 2em;
      }

      .home-content .home-explore .explore-item p {
        font-size: 1.5em;
      }

  .home-content .home-news {
    flex: 1 1 30%;
    min-width: 40ch;
  }

    .home-content .home-news .news-card {
      width: min(90%, 600px);
      margin: 10px auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: 0.3s;
    }
    .home-content .home-news .news-card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

      .home-content .home-news .news-card a {
        text-decoration: none;
        color: var(--text-color);
      }

      .home-content .home-news .news-card img {
        width: 100%;
      }

      .home-content .home-news .news-card .news-card-info {
        padding: 2px 16px;
      }

        .home-content .home-news .news-card .news-card-info h3 {
          color: var(--accent-color);
        }

#google_translate_element {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}

@media (max-width: 800px) {
  .home-page header {
    margin: 0 1.5em;
    display: block;
  }

  .home-content .home-news .news-card {
    margin: 15px auto;
  }

  .home-content .home-explore .explore-item {
    display: inline-block;
  }
  .home-content .home-explore .explore-item h3 {
    text-align: left;
    margin: 0;
  }
}