html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", 
                "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Walter Turncoat", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", 
                "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 8vw;
}
